<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibm_admin.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KANBAN MOBILE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TicketDetailsCreatedRecycler"
            android:label="Created Tickets"></activity>
        <activity android:name=".TicketDetailsTransferredRecycler"
            android:label="Transferred Tickets"></activity>
        <activity android:name=".TicketDetailsSLOHoldRecycler"
            android:label="SLO Hold"></activity>
        <activity android:name=".TicketDetailsBlockersRecycler"
            android:label="Blockers"></activity>
        <activity
            android:name=".TicketDetailsRecycler"
            android:label="Assigned Tickets" />
        <activity
            android:name=".KanbanVirtual"
            android:label="@string/title_activity_kanban_virtual"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KanbanUI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statistics"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".VirtualBoard"
            android:label="@string/title_activity_virtual_board"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity android:name=".VirtualKanban" />
        <activity android:name=".RootCause" />
    </application>

</manifest>